body{
  font-family: 'Roboto', sans-serif;
}

.header a{
  text-decoration: none!important;
  color: #2d8e38!important;
}

.swal-button{
  background-color: #2d8e38;
  padding: 0;
}

.swal-button:not([disabled]):hover {
  background-color: #2d8e38;
}

h1{
  font-size: 3em;
  font-weight: 700;
  color:rgb(45 142 56);
}

ul, li{
  list-style: none;
}

#footer{
  width: 100%;
  height: 50px;
  background-color: #2d8e38;
  color: #fff;
  bottom: 0px;
  position: relative;
  text-align: center;
  padding: 10px;
  margin-top: 10%;
}

main{
  padding: 2% 5%;
  height: 100%;
  min-height: 100vh;
}

.header{
  display: flex;
  padding: 10px 50px;
  background-color: #000000;
  justify-content: space-between;
  align-items: center;
}

.header p{
  color: #fff;
}

.header .logorem{
  max-width: 100px;
  object-fit: contain;
}

.header .carritobag{
  width: 40px;
  object-fit: contain;
}

.header ul{
  display: flex;
  align-items: center;
}

.header ul li{
  display: inline-flex;
  padding: 10px;
  align-items: center;
}
    
.header ul li a.active{
  color: #0acc20!important;
}

body{
  margin: 0px;
}

.Lista-de-productos{
  display: flex;
  flex-wrap: wrap;
}

.producto-list{
  display: flex;
  flex-wrap: nowrap;
  padding: 2% 2% 3% 2%;
  border-bottom: 1px solid #cacaca;
  align-items: center;
  justify-content: space-between;
  align-content: center;

}

.producto-list img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.producto-list h2{
  font-size: 1.5rem;
  max-width: 40%;
}

#productos{
  display: flex;
}

.producto{
  width: 20vw;
  height: 500px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding: 2% 0% 2% 0%;
  margin: 1%;
  box-shadow: 2px 2px 20px #36363617;
}

.producto a {
  text-decoration: none;
} 

.producto button {
  margin: 1% 2%;
} 

.producto .h4,.producto h4 {
  font-size: 1rem;
}

.producto a{
  color:#2d8e38;
}

.producto a:hover{
  color:#0acc20;
}

.producto button a:hover{
  color:#fff;
}

.producto img{
  max-width: 98%;
  height: 300px;
  padding: 2%;
  margin-bottom: 5%;
  object-fit: contain;
}

#bag{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#bag span{
  position: absolute;
  top: 35px;
  font-size: 14px;
}

#bag.updated span{
  color: #fff;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#bag.updated .carritobag {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

img#userimg{
  width: 35px;
}

.true{
  color:green;
}

.false{
  color: red;
}


.detalle-producto{
  margin-top: 20px;
  display: flex;
}

.contenedoragregar{
  display: flex;
}

.contenedor-breadcrumb{
  width: 100%;
  background-color: #000;
  display: block;
  color: #2d8e38;
  padding: 1%;
  margin-bottom: 2%;
}

.contenedor-breadcrumb h1{
  color: #2d8e38;
}

.detalle-producto img{
  max-width: 40vw;
}

.aumento-carrito{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.aumento-carrito h5{
  margin-bottom:0px ;
}

.aumento-carrito button{
  width: 35px;
  font-size: 20px;
}

button{
  height: 35px;
  border: solid 2px #2d8e38;
  color: #2d8e38;
  background-color: #ffffff;
  border-radius: 25px!important;
  margin: 10px 10px!important;
  min-width: 100px;
  font-weight: 300!important;
  font-size: 14px!important;
}

.aumento-carrito button{
  min-width: 35px;
  width: 35px;
}

.right-side p{
  margin-bottom: 5px;
}

button a{
  color: #2d8e38;
}

button:hover a{
  color: #fff;
}

button:hover {
  border: solid 2px #2d8e38;
  color: #fff;
  background-color: #2d8e38;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.left-side{
  width:45%;
  margin-right:5%;
  text-align: center;
}

.right-side{
  width:50%
}

.right-side h4{
  color:#2d8e38;
}

.left-side img{
  margin: 0 5% 5% 5%;
}

button.liked{
  background-color: #0f6e1a;
  color: #fff;
}

.totalcart{
  float:right;
}

.emptycart{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emptycart img{
  max-width: 60vh;
}

#cart{
  padding: 2% 0;
}

#cartlist{
  padding: 2% 0;
}

#cartitem{
  padding: 2% 0;
}


form label{
  display: inline-grid;
  margin: 0 2% 0 0;
}

.navmobile{
  display: none;
}

.skeletonproductocontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.skeletonproducto{
  width: 20vw;
  height: 500px;
  border-radius: 10px;
  margin: 1%;
}

.skeletonproducto .react-loading-skeleton{
  margin-bottom: 10%;
}










@media only screen and (max-width: 600px) {
  main {
    padding: 10% 5%;
  }
  
  .useradmin{
    display: none;
  }
  .producto {
    width: 100vw;
    height: 500px;
    padding: 5% 1% 2% 1%;
    margin: 5% 0%;
  }
  .navmobile{
    display: block;
  }
  .navdesk{
    display: none;
  }

  .mobile-nav {
    position: relative;
  }
  
  .mobile-nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #048b38;
    border: none;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    border-radius: 10px;
  }
  
  .mobile-nav-menu {
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    background-color: #000;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .mobile-nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mobile-nav-menu li {
    margin-bottom: 10px;
  }
  
  .mobile-nav-menu a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
  }
  
  .mobile-nav-menu a:hover {
    text-decoration: underline;
  }
  
}